$color-blue: #1976d2;

@mixin reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

@mixin reset-heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.settings_page_color-space-fixer #wpcontent,
.settings_page_color-space-fixer.auto-fold #wpcontent {
  padding-left: 0;
}

.settings_page_color-space-fixer .notice {
  margin: 5px 20px 15px 22px;
}

.settings_page_color-space-fixer .update-nag {
  margin-bottom: 20px;
  margin-left: 22px;
}

.csf {

}

.csf__header {
  background-color: white;
  height: 42px;
  display: flex;
  align-items: center;
  box-shadow: inset rgba(0, 0, 0, 0.15) 0px -1px;
  overflow-x: auto;
  white-space: nowrap;
}

.csf__header-icon {
  display: block;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.csf__header-title {
  font-weight: bold;
  margin-right: 10px;
}

.csf__header-button {
  @include reset-button;
  padding-left: 20px;
  padding-right: 20px;
  height: 42px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.csf__header-button--active {
  border-bottom: 3px solid $color-blue;
  font-weight: bold;
}

.scf__content {
  padding: 40px;
}

.scf__content-header {
  @include reset-heading;
  font-size: 24px;
  margin-bottom: 20px;
}

.scf__content-text {
  margin-bottom: 20px;
}

.scf__content-button {
  @include reset-button;
  background-color: $color-blue;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
}

.scf__checkbox {
  margin-bottom: 20px;
}

// Checkbox start

.scf-custom-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.scf-custom-checkbox input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.scf-custom-checkbox-indicator {
  position: absolute;
  left: 0;
  display: block;
  width:  16px;
  height: 16px;
  text-align: center;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //border: 2px solid #979797;
  border-radius: 2px;
  box-shadow: inset #979797 0px 0px 0px 2px;
}

.scf-custom-checkbox input:checked ~ .scf-custom-checkbox-indicator {
  color: #fff;
  background-color: #0074d9;
  box-shadow: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

// Checkbox end

.scf__progress-bar {
  height: 3px;
  background-color: #D8D8D8;
  margin-bottom: 20px;
}

.scf__progress-bar-progress {
  background-color: $color-blue;
  height: 3px;
  transition: 100ms linear width;
}

.csf__options-loading {
  opacity: 0.5;
}

.csf__content-section {
  margin-bottom: 40px;
}

.scf__list-item {
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  padding: 15px;
}

.scf__list-item-thumbnail {
  background-color: #D8D8D8;
  height: 40px;
  width: 40px;
  display: flex;
  object-fit: cover;
  margin-right: 15px;
}

.scf__list-item-title {
  margin-bottom: 4px;
}

.scf__list-item-subtitle {
  color: rgba(0, 0, 0, 0.5);
}